<html>
<head>
<title>National Football League General Database</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newCoach() { showform('insert'); }
    function updateCoach(pid) { 
      document.getElementById('updateCoachID').value = pid;
      showform('update')
    }
    function deleteCoach(pid) { 
      document.getElementById('deleteCoachID').value = pid;
      showform ('delete'); 
    }
    function browseCoaches() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseCoaches()">

<h2>Coaches</h2>

<div id="browse">
  <table border="1" cellpadding="5">
    <thead>
      <tr>
        <th><a href="#" onClick="newCoach()">New</a></th>
        <th></th>
        {{#each data.[0]}}
        <th>
          {{@key}}
        </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td><a href="#" onClick="updateCoach('{{this.coachID}}')">Edit</a></td>
        <td><a href="#" onclick="deleteCoach('{{this.coachID}}', '{{this.coachName}}')">Delete</a></td>
        <td>{{this.coachID}}</td>
        <td>{{this.fname}}</td>
        <td>{{this.lname}}</td>
        <td>{{this.salary}}</td>
        <td>{{this.totalWins}}</td>
        <td>{{this.totalGames}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addCoach" action="/addCoach">
        <legend><strong>Add Coach</strong></legend>
          <fieldset class="fields">
            <label>First Name</label> <input type="text" name="fnameInput">
            <label>Last Name</label> <input type="text" name="lnameInput">
            <label>Salary</label> <input type="text" name="salaryInput">
            <label>Total Wins</label> <input type="number" name="totalWinsInput">
            <label>Total Games</label> <input type="number" name="totalGamesInput">
      </fieldset>
          <input class="btn" type="submit" id="addCoach" value="Add Coach">
          <input class="btn" type="button" value="cancel" onClick="browseCoaches()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdateCoach" action="/updateCoach">
        <legend><strong>Update Coach</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="coachID" id="updateCoachID" value="">
          <label>ID: </label> 1
          <label>First Name</label> <input type="text" name="fnameInput">
          <label>Last Name</label> <input type="text" name="lnameInput">
          <label>Salary</label> <input type="text" name="salaryInput">
          <label>Total Wins</label> <input type="number" name="totalWinsInput">
          <label>Total Games</label> <input type="number" name="totalGamesInput">
    </fieldset>
        <input class="btn" type="submit" id="updateCoach" value="Update Coach">
        <input class="btn" type="button" value="cancel" onClick="browseCoaches()">
	</form> 
</div><!-- update -->
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deleteCoach" action="/deleteCoach">
      <legend><strong>Delete Coach</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the coach?</p>
          <input type="hidden" name="coachID" id="deleteCoachID" value="1">
    </fieldset>
    <input class="btn" type="submit" id="DeleteCoach" value="Delete Coach">
          <input class="btn" type="button" value="cancel" onClick="browseCoaches()">
  </form> 
</div><!-- delete -->

</body>
</html>
