<html>
<head>
<title>National Football League General Database</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newGame() { showform('insert'); }
    function updateGame(pid) {
      console.log(pid)
      document.getElementById('updateGameID').value = pid;
      showform ('update');
    }
    function deleteGame(pid) {
      document.getElementById('deleteGameID').value = pid;
      showform ('delete');
    }
    function browseGames() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseGames()">

<h2>Games</h2>

<div id="browse">
  <table border="1" cellpadding="5">
    <thead>
      <tr>
        <th><a href="#" onClick="newGame()">New</a></th>
        <th></th>
        {{#each data.[0]}}
        <th>
          {{@key}}
        </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td><a href="#" onClick="updateGame('{{this.gameID}}')">Edit</a></td>
        <td><a href="#" onclick="deleteGame('{{this.gameID}}')">Delete</a></td>
        <td>{{this.gameID}}</td>
        <td>{{this.season}}</td>
        <td>{{this.weekNum}}</td>
        <td>{{this.homeTeamScore}}</td>
        <td>{{this.awayTeamScore}}</td>
        <td>{{this.homeTeamTotalYards}}</td>
        <td>{{this.awayTeamTotalYards}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
  <form method="POST" id="addGame" action="/addGame">
    <legend><strong>Add Game</strong></legend>
      <fieldset class="fields">
        <label> Year </label> <input type="number" name="seasonInput">
        <label> Week </label> <input type="number" name="weekNumInput">
        <label> Home Team Score </label> <input type="number" name="homeTeamScoreInput">
        <label> Away Team Score </label> <input type="number" name="awayTeamScoreInput">
        <label> Home Team Total Yards </label> <input type="number" name="homeTeamTotalYardsInput">
        <label> Away Team Total Yards </label> <input type="number" name="awayTeamTotalYardsInput">
      </fieldset>
    <input class="btn" type="submit" id="addGame" value="Add Game">
    <input class="btn" type="button" value="cancel" onClick="browseGames()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdateGame" action="/updateGame">
        <legend><strong>Update Game</strong></legend>
          <fieldset class="fields">
            <input type="hidden" name="gameID" id="updateGameID" value="">
            <label> ID: </label> 1
            <label> Year </label> <input type="number" name="seasonInput">
            <label> Week </label> <input type="number" name="weekNumInput">
            <label> Home Team Score </label> <input type="number" name="homeTeamScoreInput">
            <label> Away Team Score </label> <input type="number" name="awayTeamScoreInput">
            <label> Home Team Total Yards </label> <input type="number" name="homeTeamTotalYardsInput">
            <label> Away Team Total Yards </label> <input type="number" name="awayTeamTotalYardsInput">
          </fieldset>
        <input class="btn" type="submit" id="updateGame" value="Update Game">
        <input class="btn" type="button" value="cancel" onClick="browseGames()">
	</form> 
</div><!-- update -->
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deleteGame" action="/deleteGame">
      <legend><strong>Delete Game</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the game?</p>
          <input type="hidden" name="gameID" id="deleteGameID" value="">        
    </fieldset>
    <input class="btn" type="submit" id="deleteGame" value="Delete Game">
          <input class="btn" type="button" value="Cancel" onClick="browseGames()">
  </form> 
</div><!-- delete -->

</body>
</html>
