<html>
<head>
<title>National Football League General Database</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newStadium() { showform('insert'); }
    function updateStadium(pid) {
      document.getElementById('updateStadiumID').value = pid;
      showform('update');
    }
    function deleteStadium(pid) {
      document.getElementById('deleteStadiumID').value = pid;
      showform ('delete');
    }
    function browseStadiums() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseStadiums()">

<h2>Stadiums</h2>

<div id="browse">
  <table border="1" cellpadding="5">
    <thead>
      <tr>
        <th><a href="#" onClick="newStadium()">New</a></th>
        <th></th>
        {{#each data.[0]}}
        <th>
          {{@key}}
        </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td><a href="#" onClick="updateStadium('{{this.stadiumID}}')">Edit</a></td>
        <td><a href="#" onclick="deleteStadium('{{this.stadiumID}}')">Delete</a></td>
        <td>{{this.stadiumID}}</td>
        <td>{{this.location}}</td>
        <td>{{this.capacity}}</td>
        <td>{{this.indoors}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addStadium" action="/addStadium">
        <legend><strong>Add Stadium</strong></legend>
          <fieldset class="fields">
            <label> Location </label> <input type="text" name="locationInput">
            <label> Capacity </label> <input type="number" name="capacityInput">
            <label> Indoors </label> 
            <input type="radio" name="indoorsInput" value="1">
            <label> True </label>
            <input type="radio" name="indoorsInput" value="0">
            <label> False </label>
      </fieldset>
          <input class="btn" type="submit" id="addStadium" value="Add Stadium">
          <input class="btn" type="button" value="cancel" onClick="browseStadiums()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdateStadium" action="/updateStadium">
        <legend><strong>Update Stadium</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="stadiumID" id="updateStadiumID" value="">
          <label> Location </label> <input type="text" name="locationInput">
          <label> Capacity </label> <input type="number" name="capacityInput">
          <label> Indoors </label> 
          <input type="radio" name="indoorsInput" value="1">
          <label> True </label>
          <input type="radio" name="indoorsInput" value="0">
          <label> False </label>
    </fieldset>
        <input class="btn" type="submit" id="addStadium" value="Add Stadium">
        <input class="btn" type="button" value="cancel" onClick="browseStadiums()">
	</form> 
</div><!-- update -->
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deleteStadium" action="/deleteStadium">
      <legend><strong>Delete Stadium</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <input type="hidden" name="stadiumID" id="deleteStadiumID" value="">
    </fieldset>
    <input class="btn" type="submit" id="DeleteStadium" value="Delete Stadium">
          <input class="btn" type="button" value="Cancel" onClick="browseStadiums()">
  </form> 
</div><!-- delete -->

</body>
</html>
