<html>
<head>
<title>National Football League General Database</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newTeamPlayer() { showform('insert'); }
    function updateTeamPlayer(pid) {
      document.getElementById('updateTeamPlayerID').value = pid;
      showform('update'); 
      }
    function deleteTeamPlayer(pid) {
      document.getElementById('deleteTeamPlayerID').value = pid;
      showform ('delete');
      }
    function browseTeamsPlayers() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseTeamsPlayers()">

<h2>Team-Player Relationships</h2>

<div id="browse">
  <table border="1" cellpadding="5">
    <thead>
      <tr>
        <th><a href="#" onClick="newTeamPlayer()">New</a></th>
        <th></th>
        {{#each data.[0]}}
        <th>
          {{@key}}
        </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td><a href="#" onClick="updateTeamPlayer('{{this.teamPlayerID}}')">Edit</a></td>
        <td><a href="#" onclick="deleteTeamPlayer('{{this.teamPlayerID}}')">Delete</a></td>
        <td>{{this.teamPlayerID}}</td>
        <td>{{this.teamID}}</td>
        <td>{{this.playerID}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addTeamPlayer" action="/addTeamPlayer">
        <legend><strong>Add Team-Player Relationship</strong></legend>
          <fieldset class="fields">
            <label> Team </label> <select name="teamIDInput">
            	<option value="">Select a Team</option>
              {{#each teams}}
              <option value="{{this.teamID}}">{{this.teamName}}</option>
              {{/each}}
                </select>
            <label> Player </label> <select name="playerIDInput">
                <option value="">Select a Player</option>
              {{#each players}}
              <option value="{{this.playerID}}">{{this.fname}} {{this.lname}}</option>
              {{/each}}
                </select>
      </fieldset>
          <input class="btn" type="submit" id="addTeamPlayer" value="Add Team Player">
          <input class="btn" type="button" value="cancel" onClick="browseTeamsPlayers()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdateTeamPlayer" action="/updateTeamPlayer">
        <legend><strong>Update Team-Player Relationship</strong></legend>
          <fieldset class="fields">
            <input type="hidden" name="teamPlayerID" id="updateTeamPlayerID" value="">
            <label> Team </label> <select name="teamIDInput">
            	<option value="">Select a Team</option>
              {{#each teams}}
              <option value="{{this.teamID}}">{{this.teamName}}</option>
              {{/each}}
                </select>
            <label> Player </label> <select name="playerIDInput">
                <option value="">Select a Player</option>
              {{#each players}}
              <option value="{{this.playerID}}">{{this.fname}} {{this.lname}}</option>
              {{/each}}
                </select>
      </fieldset>
          <input class="btn" type="submit" id="UpdateSaveTeamPlayer" value="Save Update Team Player">
          <input class="btn" type="button" value="cancel" onClick="browseTeamsPlayers()">
	</form> 
</div><!-- update -->
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deleteTeamPlayer" action="/deleteTeamPlayer">
      <input type="hidden" name="teamPlayerID" id="deleteTeamPlayerID" value="">
      <legend><strong>Delete Team-Player Relationship</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the team-player relationship??</p>
          <input type="hidden" name="teamPlayerID" id="deleteTeamPlayerID" value="1">
    </fieldset>
    <input class="btn" type="submit" id="DeleteTeamPlayer" value="Delete Team Player">
          <input class="btn" type="button" value="Cancel" onClick="browseTeamsPlayers()">
  </form> 
</div><!-- delete -->

</body>
</html>
