<html>
<head>
<title>National Football League General Database</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newTeamGame() { showform('insert'); }
    function updateTeamGame(pid) {
      document.getElementById('updateTeamGameID').value = pid;
      showform('update'); 
      }
    function deleteTeamGame(pid) {
      document.getElementById('deleteTeamGameID').value = pid;
      showform ('delete');
      }
    function browseTeamsGames() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseTeamsGames()">

<h2>Team-Game Relationships</h2>

<div id="browse">
  <table border="1" cellpadding="5">
    <thead>
      <tr>
        <th><a href="#" onClick="newTeamGame()">New</a></th>
        <th></th>
        {{#each data.[0]}}
        <th>
          {{@key}}
        </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td><a href="#" onClick="updateTeamGame('{{this.teamGameID}}')">Edit</a></td>
        <td><a href="#" onclick="deleteTeamGame('{{this.teamGameID}}')">Delete</a></td>
        <td>{{this.teamGameID}}</td>
        <td>{{this.teamID}}</td>
        <td>{{this.gameID}}</td>
        <td>{{this.isHomeTeam}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addTeamGame" action="/addTeamGame">
        <legend><strong>Add Team-Game Relationship</strong></legend>
          <fieldset class="fields">
            <label> Team </label> <select name="teamIDInput">
            	<option value="0">&nbsp;</option>
                <option value="1">Jets</option>
                <option value="2">Giants</option>
                <option value="3">Steelers</option>
                <option value="4">Rams</option>
                <option value="5">Chargers</option>
                </select>
            <label> Game </label> <select name="gameIDInput">
                <option value="0">&nbsp;</option>
                <option value="1">Week 16, 2022</option>
                <option value="2">Week 17, 2023</option>
                <option value="3">Week 8, 2019</option>
                <option value="4">Week 4, 2020</option>
                </select>
              <label>Home team?</label>
              <input type="radio" name="isHomeTeamInput" id="isHomeTeamInput" value="1"><label>True</label>
              <input type="radio" name="isHomeTeamInput" id="isHomeTeamInput" value="0"><label>False</label>
      </fieldset>
          <input class="btn" type="submit" id="addTeamGame" value="Add Team Game">
          <input class="btn" type="button" value="cancel" onClick="browseTeamsGames()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="updateTeamGame" action="/updateTeamGame">
        <legend><strong>Update Team-Game Relationship</strong></legend>
          <fieldset class="fields">
            <input type="hidden" name="teamGameID" id="updateTeamGameID" value="">
            <label> Team </label> <select name="teamIDInput">
            	<option value="0">&nbsp;</option>
                <option value="1">Jets</option>
                <option value="2">Giants</option>
                <option value="3">Steelers</option>
                <option value="4">Rams</option>
                <option value="5">Chargers</option>
                </select>
            <label> Coach </label> <select name="gameIDInput">
                <option value="0">&nbsp;</option>
                <option value="1">Week 16, 2022</option>
                <option value="2">Week 17, 2023</option>
                <option value="3">Week 8, 2019</option>
                <option value="4">Week 4, 2020</option>
                </select>
            <label>Home team?</label>
            <input type="radio" name="isHomeTeamInput" id="isHomeTeamInput" value="1"><label>True</label>
            <input type="radio" name="isHomeTeamInput" id="isHomeTeamInput" value="0"><label>False</label>
      </fieldset>
          <input class="btn" type="submit" id="addTeamGame" value="Add Team Game">
          <input class="btn" type="button" value="cancel" onClick="browseTeamsGames()">
	</form> 
</div><!-- update -->
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deleteTeamGame" action="/deleteTeamGame">
      <legend><strong>Delete Team-Game Relationship</strong></legend>
        <input type="hidden" name="teamGameID" id="deleteTeamGameID" value="">
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <input type="hidden" name="teamGameID" id="deleteTeamGameID" value="1">
          <label><strong>ID:</strong></label> 1
            <label> <strong>Team</strong> </label> Steelers
            <label> <strong>Opponent</strong> </label> Rams
            <label> <strong>Game</strong> </label> Week 16, 2022
            
    </fieldset>
    <input class="btn" type="submit" id="DeleteTeamGame" value="Delete Team Game">
          <input class="btn" type="button" value="cancel" onClick="browseTeamsGames()">
  </form> 
</div><!-- delete -->

</body>
</html>
